<?xml version="1.0" encoding="UTF-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <connectionStrings>
<add name="IContentConnectionString" connectionString="Data Source=SQL01;Initial Catalog=IContentv;User Id=teguser;Password=$Paper1n0$!" providerName="System.Data.SqlClient" />
    <add name="IContentEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01;initial catalog=IContentv;User Id=teguser;Password=$Paper1n0$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IContentvEntities" connectionString="metadata=res://*/ModelContract.csdl|res://*/ModelContract.ssdl|res://*/ModelContract.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01;initial catalog=IContentv;User Id=teguser;Password=$Paper1n0$!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 <add name="IContentvEntities2" connectionString="metadata=res://*/App_Code.Model1.csdl|res://*/App_Code.Model1.ssdl|res://*/App_Code.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01;initial catalog=IContentv;User Id=teguser;Password=$Paper1n0$!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="IContentvEntitiesF" connectionString="metadata=res://*/ModelFollow.csdl|res://*/ModelFollow.ssdl|res://*/ModelFollow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01;initial catalog=IContentv;User Id=teguser;Password=$Paper1n0$!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
<!-- UAT Connection string -->
    <add name="Entities" connectionString="metadata=res://*/ModelUat.csdl|res://*/ModelUat.ssdl|res://*/ModelUat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL01;initial catalog=IContentv;User Id=teguser;Password=$Paper1n0$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

   </connectionStrings>
  <appSettings>
 <add value="\\FEDEPC\mediashare\" key="FisicoServerStreaming" />
    <add value="http://51.254.238.249:1935/tegme/" key="ServerStreamingName" />
    <add key="SMTPServer" value="mail.rai-world.it" />
    <add key="SMTPUsername" value="smtprelay" />
    <add key="SMTPPassword" value="Affu.1221" />
 <add value="http://51.254.238.249:1935/tegme/" key="ServerStreamingNameUAT" />
    <add value="http://51.254.238.249:1935/tegme/" key="ServerStreamingName" />
    <add value="rtsp://51.254.238.249:1935/tegme/" key="ServerStreamingNameAndroid" />
    <add value="rtsp://51.254.238.249:1935/tegme/" key="ServerStreamingNameAndroidUAT" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.SqlServer.Types, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.6" maxRequestLength="99096" executionTimeout="900" />

    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <remove name="AspnetSqlMembershipProvider" />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="IContentConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Clear" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlProfileProvider">
      <providers>
        <clear />
        <add name="SqlProfileProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="IContentConnectionString" applicationName="/" />
      </providers>
    </roleManager>

        <customErrors mode="Off" />

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="101474304" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>