/* Scss Document */
.mobile_slider {
  display: none; }

.video_back {
  position: absolute !important;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(bottom, rgba(112, 173, 71, 0.65) 0%, rgba(111, 173, 72, 0.65) 1%, rgba(22, 190, 207, 0.65) 100%);
  position: relative;
  background: -webkit-linear-gradient(bottom, rgba(112, 173, 71, 0.65) 0%, rgba(111, 173, 72, 0.65) 1%, rgba(22, 190, 207, 0.65) 100%);
  background: linear-gradient(to top, rgba(112, 173, 71, 0.65) 0%, rgba(111, 173, 72, 0.65) 1%, rgba(22, 190, 207, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a670ad47', endColorstr='#a616becf',GradientType=0 ); }

.video_tegme {
  min-height: auto; }

.header {
  /*background-image:url(../img/header_bg.png);background-size:cover;*/ }
  .header .vodeo_container {
    top: 0px;
    position: absolute;
    left: 0;
    right: 0; }
  .header .header_inner {
    background: -moz-linear-gradient(bottom, rgba(112, 173, 71, 0.65) 0%, rgba(111, 173, 72, 0.65) 1%, rgba(22, 190, 207, 0.65) 100%);
    position: relative;
    background: -webkit-linear-gradient(bottom, rgba(112, 173, 71, 0.65) 0%, rgba(111, 173, 72, 0.65) 1%, rgba(22, 190, 207, 0.65) 100%);
    background: linear-gradient(to top, rgba(112, 173, 71, 0.65) 0%, rgba(111, 173, 72, 0.65) 1%, rgba(22, 190, 207, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a670ad47', endColorstr='#a616becf',GradientType=0 ); }
    .header .header_inner .header_wrap {
      width: 100%;
      height: 677px;
      display: table; }
      .header .header_inner .header_wrap .header_wrap_inner {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        position: relative; }
        .header .header_inner .header_wrap .header_wrap_inner .nav_wrap {
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          top: 25px; }
          .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .tegme_menu {
            margin-top: 1.7em; }
            .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .tegme_menu a {
              font-family: MuseoSans-100;
              font-size: 16px;
              color: #fff; }
              .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .tegme_menu a:hover, .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .tegme_menu a:focus, .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .tegme_menu a:visited {
                background-color: transparent; }
          .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .icon-bar {
            background: #fff; }
          .header .header_inner .header_wrap .header_wrap_inner .nav_wrap .navbar-toggle {
            background-color: #70ad47;
            border: 1px solid #fff; }
        .header .header_inner .header_wrap .header_wrap_inner .title {
          text-align: center;
          font-family: MuseoSans-700;
          font-size: 65px;
          color: #fff;
          text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
          line-height: 65px;
          margin-top: 8%; }
        .header .header_inner .header_wrap .header_wrap_inner .description {
          text-align: center;
          font-family: MuseoSans-300;
          font-size: 20px;
          color: #fff;
          margin: 6% 0em; }
        .header .header_inner .header_wrap .header_wrap_inner .tegme_large_btn {
          text-align: center; }
          .header .header_inner .header_wrap .header_wrap_inner .tegme_large_btn span a {
            font-family: MuseoSans-700;
            font-size: 27px;
            color: #fff;
            text-decoration: none;
            background-color: #00a86b;
            background-color: #00a86b;
            padding: 15px 65px;
            border-radius: 5px;
            box-shadow: 10px 10px 0px 2px rgba(0, 0, 0, 0.3), -10px -10px 0px 2px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 10px 10px 0px 2px rgba(0, 0, 0, 0.3), -10px -10px 0px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 10px 10px 0px 2px rgba(0, 0, 0, 0.3), -10px -10px 0px 2px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 10px 10px 0px 2px rgba(0, 0, 0, 0.3), -10px -10px 0px 2px rgba(0, 0, 0, 0.3);
            transition: all .6s; }
            .header .header_inner .header_wrap .header_wrap_inner .tegme_large_btn span a:hover {
              box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
              -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
              -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 0px rgba(0, 0, 0, 0.3); }

.section_margin {
  margin: 20px 0px; }
  .section_margin .large_video_box {
    background: #70ad47;
    position: relative; }
    .section_margin .large_video_box img {
      width: 100%;
      z-index: -6; 
	  height:365px;
	  }
  .section_margin .large_video_back {
    /*background-image:url(../img/green_video_img.png);background-repeat:no-repeat;background-size:cover;*/ }
    .section_margin .large_video_back .video_caption {
      color: #fff;
      font-family: MuseoSans-100;
      font-size: 65px;
      position: absolute;
      z-index: 9999;
      bottom: 20px;
      left: 20px; }
      .section_margin .large_video_back .video_caption h4 {
        color: #fff;
        font-family: MuseoSans-100;
        font-size: 18px;
        margin-top: 1em; }
  .section_margin .small_video_box {
    display: table;
    width: 100%;
    position: relative; }
    .section_margin .small_video_box img {
      width: 100%;
	 
		 }		 		 
/*     .section_margin .small_video_box .small_video_box_inner {
      width: 100%;
      height: 92%;
      vertical-align: middle;
      position: absolute;
      z-index: 9999;
      left: 0;
      top: 0; } */
      .section_margin .small_video_box .small_video_box_inner .small_video_play {
        text-align: center;
		padding:26px;
       }
        .section_margin .small_video_box .small_video_box_inner .small_video_play a {
          width: 70px;
          height: 70px;
          /*background: #70ad47;*/
          display: block;
          margin: 0 auto;
          border-radius: 50%;
          text-align: center;
          cursor: pointer; }
          .section_margin .small_video_box .small_video_box_inner .small_video_play a i {
            font-size: 46px;
            color: #fff;
            margin-top: 14px;
            margin-left: 7px; }
      .section_margin .small_video_box .small_video_box_inner .small_video_caption {
      
        width: 75%;
        background: rgba(78, 127, 82, 0.64);
        margin-bottom: 0px;
        padding: 6px 0px 6px 15px;
        color: #fff;
        z-index: 0; }
        .section_margin .small_video_box .small_video_box_inner .small_video_caption h4 {
          font-family: MuseoSans-100;
          font-size: 14px;
          padding-top: 7px; }
  .section_margin .jelly_fish {
    /*background:url(../img/jellyfish.png);*/
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 25px;
	min-height: 170px;
    /*background-color:#000;*/ }
  .section_margin .break {
    height: 10px; }

/*==========================search section=======================*/
.search_section {
  background: #333;
  background: url(../img/lab.jpg) no-repeat center center #333;
  background-size: cover;
  background-position: 0px -1em; }
  .search_section .search_section_container .table {
    width: 100%;
    /*min-height:400px;*/
    display: table;
    margin-bottom: 0px; }
    .search_section .search_section_container .table .table_cell {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      position: relative; }
      .search_section .search_section_container .table .table_cell h2 {
        color: #fff;
        font-family: MuseoSans-700;
        font-size: 36px;
        text-align: center;
        margin-top: 2em;
        /*position:absolute;top:50px;left:0px;right:0px;*/ }
      .search_section .search_section_container .table .table_cell .search {
        text-align: center;
        margin: 10em 0em; }
        .search_section .search_section_container .table .table_cell .search i {
          position: absolute;
          font-size: 36px;
          color:#fff;left:70%; }
        .search_section .search_section_container .table .table_cell .search input {
          width: 60%;
          font-family: MuseoSans-100;
          font-size: 36px;
          color: #fff;
          background: none;
          border: none;
          padding-left: 20px;
          border-bottom: 1px solid;
          outline: none; }

/* =================footer===============*/
.footer {
  text-align: center;
  color: #fff;
  font-family: MuseoSans-100;
  font-size: 16px;
   padding:70px; }
  .footer img {
    width: 185px;
	 }
  .footer h4 {
    margin: 60px 0px 15px 0px; }

/*======================cat section ==================*/
.cat_section {
  padding: 25px 0px; }
  .cat_section .cat_title {
    color: #333;
    font-family: MuseoSans-700;
    font-size: 36px;
    text-align: center;
    position: relative;
    margin-bottom: 35px; }
    .cat_section .cat_title:after {
      content: '';
      height: 2px;
      background: #70ad47;
      width: 10%;
      position: absolute;
      bottom: -10px;
      left: 0px;
      right: 0px;
      margin: 0 auto; }
  .cat_section .cat_box {
    height: 200px;
    border: 1px solid #ccc; }
    .cat_section .cat_box .cat_box_img {
      text-align: center;
      height: 100px;
		margin-bottom:40px;
      padding: 5px 0px; }
    .cat_section .cat_box span {
      display: block;
      text-align: center;
   
      font-family: MuseoSans-700;
      font-size: 20px; }
  .cat_section .download {
    text-align: center;
    margin-top: 30px; }
    .cat_section .download span {
      font-family: MuseoSans-100;
      font-size: 18px;
      line-height: 35px; }
    .cat_section .download img {
      width: 50px; }

/*========================*======================*/
.best_producers_box .col-md-5 img {
  width: 100%; }
.best_producers_box h2 {
  color: #70ad47;
  font-family: MuseoSans-300;
  font-size: 22px;
  margin-top: 15px; }
.best_producers_box h3 {
  color: #333;
  font-family: MuseoSans-100;
  font-size: 15px;
  line-height: 25px;
  margin-top: 15px; }
.best_producers_box h4 {
  color: #a1a1a1;
  font-family: MuseoSans-100;
  font-size: 12px;
  line-height: 20px; }
  
.sp-img-advertising {
  position: relative;
  min-height: 400px;
  background: url(../img/sp.png) #4CC297;
  background-repeat: no-repeat;
  background-position: 96% 100%; }
.sp-img-advertising h1
{
	 position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #fff;
    font-family: MuseoSans-100;
    font-size: 65px;
    line-height: 75px;
    padding-left: 35px;
    padding-bottom: 15px; }

.create_your_box {
  position: relative;
  min-height: 400px;
  background: url(../img/vc.png) #00a86b;
  background-repeat: no-repeat;
  background-position: 96% 100%; }
 

  .create_your_box h1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #fff;
    font-family: MuseoSans-100;
    font-size: 65px;
    line-height: 75px;
    padding-left: 35px;
    padding-bottom: 15px; }

/*================slider==========================*/


.slider {
  background: url(../img/lab.jpg);
  background-repeat: no-repeat;
  background-position: 0px 88%;
  background-size: cover;
  padding-top: 30px; }
  .slider .slider_title {
    color: #fff;
    font-family: MuseoSans-700;
    font-size: 36px;
    text-align: center;
    position: relative;
    margin-bottom: 35px; }
    .slider .slider_title:after {
      content: '';
      height: 2px;
      background: #fff;
      width: 10%;
      position: absolute;
      bottom: -10px;
      left: 0px;
      right: 0px;
      margin: 0 auto; }
  .slider .well {
    background-color: transparent;
    border: 0px solid #e3e3e3;
    margin-bottom: 45px; }
    .slider .well .text-center {
      background: #fff; }
      .slider .well .text-center h3 {
        color: #333;
        font-family: MuseoSans-100;
        font-size: 18px;
        line-height: 25px; }
      .slider .well .text-center h4 {
        color: #333;
        font-family: MuseoSans-100;
        font-size: 18px;
        line-height: 25px; }  
	.item .icons_social:hover .social_icons{opacity:1;}
    .slider .well .social_icons {
      opacity:0;
    -webkit-transition: all 1s; / Safari /
    transition: all 2s;
      position: absolute;
      right: 35px;
		display:block;
      width: 80%;
      height: 70%;
      border: 1px solid #fff;
      z-index: 99;
      top: 20px; }
      .slider .well .social_icons .social_icons_inner {
        position: absolute;
        right: -13px;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
        z-index: 99;
        top: 9px; }
        .slider .well .social_icons .social_icons_inner .social_icon_fake {
          height: 97%;
          background: rgba(255, 255, 255, 0.38);
          margin-right: 12px;
          text-align: center; }
          .slider .well .social_icons .social_icons_inner .social_icon_fake .facebook_in {
            position: absolute;
            bottom: 12px; }
            .slider .well .social_icons .social_icons_inner .social_icon_fake .facebook_in img {
              margin: 0px 10px; }
.slider .well .social_icons .social_icons_inner .social_icon_fake .visit
{
	position: absolute;
    text-align: right;
    right: 20px;
    bottom: 12px;
}
.video-title-name
{
	font-size:20px;font-weight:bold;margin-top:10px;
}

.large_video_box_gray {
  background: #333 !important; }

.large_video_back_gray {
  background-image: url(../img/most_viewed_bg.png) !important;
  background-repeat: no-repeat;
  background-size: cover; }

/* =========================media query============================8*/
@media (max-width: 1200px) {
  .header .header_inner .header_wrap .header_wrap_inner .description {
    margin-top: 0%;
    margin-bottom: 4%; }
  .header .header_inner .header_wrap .header_wrap_inner .title {
    text-align: center;
    font-size: 55px;
    margin-top: 0%;
    padding-top: 0px;
    margin-bottom: 0%; } }
@media (max-width: 991px) {
  .header .header_inner .header_wrap .header_wrap_inner .nav_wrap {
    top: 0px; }
  .header .header_inner .header_wrap .header_wrap_inner .description {
    margin-top: 0%;
    margin-bottom: 5%; }
  .header .header_inner .header_wrap .header_wrap_inner .title {
    font-size: 40px !important;
    margin-top: -26%;
    line-height: 45px; }

  .section_margin .large_video_box img {
    height: 300px; }

/*   .section_margin .small_video_box .small_video_box_inner .small_video_play {
    margin-top: 25%; } */

  .cat_section .col-xs-4 {
    margin-top: 20px; }

  .best_producers_box {
    margin-top: 30px; }

 

  /*.create_your_box {
    margin-top: 30px; }*/

  .slider .well .text-center h3 {
    font-size: 15px;
    line-height: 18px; }
  .slider .well .text-center h4 {
    font-size: 14px;
    line-height: 18px; } }
@media (max-width: 767px) {
  .navbar-brand img {
    display: block;
    width: 70%; }



/*   .section_margin .small_video_box .small_video_box_inner .small_video_play {
    margin-top: 25%; } */

  .tegme_menu {
    background: rgba(255, 255, 255, 0.6); }

  .create_your_box {
    margin-top: 30px; }

  .video_break {
    display: none; }

  .small_video_box {
    margin-top: 15px; }

  .header .tegme_large_btn {
    display: none; }
  .header .header_inner .header_wrap .header_wrap_inner .nav_wrap {
    top: 0px; }
  .header .header_inner .header_wrap .header_wrap_inner .description {
    margin-top: 4%;
    margin-bottom: 5%; }
  .header .header_inner .header_wrap .header_wrap_inner .title {
    font-size: 28px !important;
    margin-top: -25%;
    line-height: 28px;
    padding-bottom: 10px; }

  .slider .well .social_icons {
    width: 49%;
    height: 70%;
    display: none; }
    .slider .well .social_icons .social_icons_inner {
      width: 100%;
      height: 100%; }
  .slider .well .text-center h3 {
    font-size: 13px;
    line-height: 15px; }
  .slider .well .text-center h4 {
    font-size: 12px;
    line-height: 15px; }


  .search_section .search_section_container .table .table_cell .search {
    margin: 5em 0em; } }
/* @media (max-width: 767px)*/
@media (max-width: 655px) {
  .header .header_inner .header_wrap {
    height: 500px; } }
@media (max-width: 540px) {
  .header .header_inner .header_wrap {
    height: 230px; }
    .header .header_inner .header_wrap .header_wrap_inner .title {
      font-size: 22px !important;
      line-height: 22px !important;
      margin-top: 0em; }
    .header .header_inner .header_wrap .header_wrap_inner .description {
      margin: 1em 0em 3em 0em;
      display: none; }

  .best_producers_wrap .col-xs-6 {
    margin: 0 auto;
    width: 90%;
    float: none; }

  .cat_section_original .col-xs-4 {
    width: 80%;
    float: none;
    margin: 0 auto; }

  .cat_box {
    margin-top: 30px; }

  .section_margin .col-xs-6 {
    width: 90%;
    float: none;
    margin: 0 auto; }

  .search_section .search_section_container .table .table_cell .search {
    margin: 4em 0em; } }
/* @media (max-width: 540px)*/
@media (max-width: 430px) {
  .create_your_box h1 {
    font-size: 36px;
    line-height: 43px; }

  .navbar-brand {
    width: 70%;
    height: auto;
    padding: 0px 0px; }

  .navbar-brand > img {
    width: 100%; }

  .title {
    padding: 0px 0px; }

  .header .header_inner .header_wrap {
    height: 230px; }
    .header .header_inner .header_wrap .header_wrap_inner .title {
      font-size: 18px !important;
      line-height: 22px !important;
      margin-top: 0em; }
    .header .header_inner .header_wrap .header_wrap_inner .description {
      margin: 1em 0em 3em 0em;
      display: none; }

  .search_section .search_section_container .table .table_cell h2 {
    font-size: 30px; }
  .search_section .search_section_container .table .table_cell .search {
    margin: 2em 0em; }
    .search_section .search_section_container .table .table_cell .search input {
      width: 100%;
      font-size: 28px; }

  .section_margin .large_video_back .video_caption {
    left: 50px;
    font-size: 50px; }

  .section_margin .large_video_box {
    min-height: 300px; }

  .section_margin .small_video_box {
    min-height: auto; }
    .section_margin .small_video_box img {
      position: relative;
      width: 100%;
	  height:189px;
	  }
    .section_margin .small_video_box .small_video_box_inner .small_video_caption {
      width: 95%; }

  .section_margin .col-xs-6 {
    width: 90%; }

  .logo_nba {
    margin-top: -4px !important; } }
/* @media (max-width: 430px)*/

/*# sourceMappingURL=tegme.css.map */
.small_video_box_inner
{
	background:rgba(0, 4, -21, 0.65);
	width:100%;
	height:auto;
}
.best_producers_box
{
	min-height:180px;
}

.follower-img
{
	width: 100%;
    height: 275px;
    background-repeat: no-repeat ;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hidden-class
{
 display:none;
}

.animate-class
{
visibility:visible;
opacity:1;
transition: opacity 2s linear;
}
.section_margin .large_video_back .video_caption h4{
cursor:pointer;
text-decoration:underline;
transition: text-decoration 2s linear;
}
.section_margin .large_video_back .video_caption h4:hover{
text-decoration:none;
}

.carousel-control 			 { width:  4%; }
/* .carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;} */
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}
.hidden-follower,.hide-all-follower{
	display:none;
}
.follower-toggle{
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.cat_section .follower-toggle img {
    width: 50px;
}
